- DB_NAME         — имя базы данных PostgreSQL
- DB_USER         — пользователь PostgreSQL
- DB_PASSWORD     — пароль
- DB_HOST         — IP-адрес сервера с PostgreSQL
- DB_PORT         — порт PostgreSQL (обычно 5432)
- DEBUG           — True/False (для разработки True, для боевого режима False)
- SECRET_KEY      — секретный ключ Django
- ALLOWED_HOSTS   — список разрешённых IP-адресов через запятую