# Django
SECRET_KEY=django_secret_key
DEBUG=True/False
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_NAME=DB_name
DB_USER=DB_user
DB_PASSWORD=DB_user_password
DB_HOST=Postgres_server
DB_PORT=Postgres_server_port
